WEBHOOK_URL=https://discord.com/api/webhooks/*
UDP_PORT=30813
EXPOSE_TO_NETWORK=172.17.0.1
AVATAR_URL=https://my-website.com/myImage.jpg
CHATHOOK_CHAT_RATE_LIMIT_COUNT=6
CHATHOOK_CHAT_RATE_LIMIT_WINDOW_SEC=10
